/* Body style */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;


}

/* common */
.btn-primary {
    padding: 15px 35px;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    margin-top: 20px;
    cursor: pointer;
}

.pink-button {
    border-radius: 48px;
    background: #4EC5F7;
}

/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    ;
}

.nav-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 25px;
}

nav a {
    color: #3C354F;
    text-align: center;
    font-size: 1.15rem;
    font-weight: 500;
    text-decoration: none;
}

/* header */


/* banner */
.banner {
    display: flex;
    background: #FFF;
    padding: 30px 100px;
    ;
    justify-content: space-between;
    gap: 150px;



}

.banner-content {
    margin-top: 60px;


}

.banner img {
    width: 600px;

}

.banner-title {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    ;
}

.banner-sub {
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    ;
}


.banner-des {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: lowercase;
}

/* gammer */
.gammer-box {
    padding: 0 100px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    gap: 80px;
    padding-top: 140;
    padding-bottom: 140px;
}

.gammer-title {

    font-size: 2.5rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

.gammer-des {
    color: #534C64;
    font-weight: 400;
}

.gammer-content {
    text-align: right;
}

.gammer-img img {
    width: 650px;
    margin-top: 50px;
}

p.bold-footer {
    margin-top: -10px;
}

.gammer-footer {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
}

.bold-footer {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 700;
}

.video-sectiopn {
    padding: 10px 100px;
}

.video-title {
    color: #0B0223;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.video-des {
    color: #534C64;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 50px;
}

.video-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;

}

.video-container img {
    width: 250px;
}

.video-box p {
    color: #534C64;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 500;
}



.play-title {}

.play-box {
    display: flex;
    padding: 0px 100px;
    gap: 150px
}

.play-img img {
    width: 500px;
}

.play-title {
    text-align: right;
    font-size: 2.5rem;
    font-weight: 700;
}

.play-content {
    max-width: 300px;
    margin: auto;

}

.play-des {
    color: #534C64;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: -20px;
}

.mini-img img {
    width: 150px;
    border-radius: 8px;
    border: 10px solid #FFF;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
    position: relative;
    top: -120px;
    left: -60px;
}

@media screen and (max-width:576px) {
    .banner {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .gammer-img img {
        width: 100%;
    }

    .gammer-content {
        text-align: center;
    }

    .play-img img {
        width: 250px;
    }

    .play-img {
        text-align: center;
    }

    nav,
    .banner,
    .gammer-box,
    .video-sectiopn {
        padding: 20px 0;
        text-align: center;
    }
   

    .mini-img img {
        width: 120px;
        position: relative;
        top: -120px;
        left: -60px;

    }

    .video-container {}

    .play-box {
        padding: 0;
    }



    nav,
    .gammer-box,
    .video-container,
    .play-box {
        flex-direction: column;
    }

    .banner img {
        width: 100%;
    }
    .video-box img{
        width: 150px;
    }


}

@media screen and (min-width:576px) and (max-width:992px) {
    .banner {
        flex-direction: column-reverse;
        gap: 20px;
    }

    nav,
    .gammer-box,
    .video-container,
    .play-box {
        flex-direction: column;
    }

    .banner img {
        width: 100%;
    }
    .gammer-img img {
        width: 100%;
    }
    nav,
    .banner,
    .gammer-box,
    .video-section, .gammer-content {
        padding: 40px 0;
        text-align: center;
    }
    .play-img img {
        width: 350px;
    }
    .mini-img img {
        width: 150px;
        position: relative;
        top: -120px;
        left: -60px;

    }
}